.side-drawer {
  height: 100%;
  background: rgba(0, 0, 0, 0.623);
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(100%);
  transition: 0.5s ease;

  
  justify-content: center;
  display:flex;



}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  height: 100%;
  list-style: none;

  /* justify-content: space-around; */

  justify-content: center;
  display:flex;


  /* position: relative; */
  /* right:0px; */
  /* height:92vh; */
  /* top:8vh; */
  /* right:0; */
  width:0%;


  flex-direction: column;
  /* align-items: center; */

  transform:translateX(100%);
  transition: transform 0.5s ease-in;

  
/* fadein code not working ------------*/
  /* animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s; -----*/
}

.side-drawer li {
  margin: 0.5rem 0;
  padding-bottom: 50px;
}

.side-drawer a {
  color: rgba(245, 245, 245, 0.829);
  text-decoration: none;
  font-size: 1.3rem;
}

.side-drawer ul {
 color: white;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: #fa923f;
}

@media (min-width: 769px) {
    .side-drawer {
        display: none;
    }
}