a:link {
  text-decoration: none;
}

a:hover {
    font-size: 105%;
    color: black;
    /* border-bottom:2px solid red; */
}

a{
    color:whitesmoke;
}

.date{
  color:whitesmoke;
  font-size: 40px;
  float:left;
}

.carousel-item img{
  height: 800px;
  width: 60px;
}